/2020-Topology optimization based on deep representation learning (DRL) for compliance and stress-constrained design.pdf
/2021-A Parametric Level Set Method for Topology Optimization Based on Deep Neural Network.pdf
/2021-An exploration for a novel way combining neural network with topology optimization(1).pdf
/2022-Material Design with Topology Optimization Based on the Neural Network(1).pdf
/2023-Topology optimization via implicit neural representations(1).pdf
/2025-Neural Level Set Topology Optimization Using Unfitted Finite Elements.pdf
/~$ DOCX 文档.docx
/新建 DOCX 文档.docx
*.h5
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bmp

# 忽略数据文件
*.csv
*.mat
